PORT=8080
REACT_APP_DATA_SERVER=https://serverjqisex6k-dev-machine-server-3000.morpheuslabs.io/v1
REACT_APP_DATA_SERVER_LOCALHOST=http://localhost:3000/v1

REACT_APP_CHAIN_API_RINKEBY=https://serverjqisex6k-dev-machine-server-3200.morpheuslabs.io/
REACT_APP_CHAIN_API_MAINNET=https://

REACT_APP_TOKEN_VESTING_LINK_RINKEBY=http://104.248.144.168:4003
REACT_APP_TOKEN_VESTING_LINK_MAINNET=http://104.248.144.168:4004
REACT_APP_TOKEN_VESTING_LINK_LOCALHOST=http://localhost:4003

REACT_APP_BATCH_SIZE_MAX=100
REACT_APP_AIRDROP_CONTRACT_RINKEBY=0xa6f0a4080c124e2c9f0433e0ca2621314d1a4ad1
REACT_APP_AIRDROP_CONTRACT_MAINNET=0x
REACT_APP_GASLIMIT = 1000000

REACT_APP_RNDKEY=0xekfjguryehwghdfsvxbcndhfyetry4
REACT_APP_KYCAML_PHOTO=https://serverjqisex6k-dev-machine-server-3000.morpheuslabs.io/static/kyc
